* {
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* TITULO*/
header {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 30rem 1rem 30rem;
  gap: 6rem;
  border-bottom: 1px rgba(0, 0, 0, 0.082) solid;
}
nav {
  box-shadow: 0px 6px 6px 0px #00000029;
  padding: 0rem 29rem 0rem 29rem;
}
.navBar {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  gap: 2rem;
  align-items: center;
  list-style: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
}
.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  list-style: none;
}

#Titulo-ifrn {
  color: darkgrey;
  flex-basis: 270px;
  align-self: end;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2em;
}
.botao-Tema {
  background-color: #eeeeee29;
  border-radius: 12px;
  border: solid 1px #333333bb;
  color: #000000;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.botao-Tema::after {
  background-color: #bbb;
}
.botao-Tema:hover {
  background: #c5c5c5;
  transition: all 0.4s ease-in-out;
}

main {
  padding: 0rem 30rem 0rem 30rem;
}

footer {
  background-color: #062601;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
