* {
  padding: 0px;
  margin: 0px;
}

/* TITULO*/
header {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 30rem 1rem 30rem;
  gap: 2rem 6rem;
  border-bottom: 1px rgba(0, 0, 0, 0.082) solid;
  justify-items: flex-start;
}
nav {
  box-shadow: 0px 6px 6px 0px #00000029;
  padding: 0rem 29rem 0rem 29rem;
}
.navBar {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  gap: 2rem;
  align-items: center;
  list-style: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
}
.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  list-style: none;
}
.Botao-Tema {
  padding: 2rem;
}
/* TITULO*/

/* Titulo do site IFRN*/
#Titulo-ifrn {
  flex-basis: 270px;
  align-self: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2rem;
}

/*BOTAO DE PESQUISA*/
form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #bbbbbb;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #bbbbbb;
  padding: 5px;
}

input {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover,
form:valid {
  width: 200px;
  cursor: pointer;
}

form:hover input,
form:valid input {
  display: block;
}

form:hover .fa,
form:valid .fa {
  background: #07051a;
  color: white;
}

a {
  display: none;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

/*BOTAO DE PESQUISA*/

main {
  padding: 0rem 30rem 0rem 30rem;
}

footer {
  background-color: #062601;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
