* {
  padding: 0px;
  margin: 0px;
}

/* TITULO*/
header {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 30rem 2rem 30rem;
  gap: 2rem 6rem;
}
nav {
  box-shadow: 0px 6px 6px 0px #00000029;
  padding: 0rem 29rem 0rem 29rem;
}
.navBar {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  gap: 2rem;
  align-items: center;
  list-style: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
}
.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  list-style: none;
}
.Titulo-Tema {
  padding: 2rem;
}
/* TITULO*/

/* Titulo do site IFRN*/
#siteTitulo {
  flex-basis: 270px;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
}

main {
  padding: 0rem 30rem 0rem 30rem;
}

footer {
  background-color: #062601;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
